<div class="dropdown-container">
  <button
    class="dropdown-button"
    aria-haspopup="listbox"
    aria-labelledby="dropdown-label"
    (click)="toggleDropdown()"
    (clickOutside)="closeDropdown()"
    [ngClass]="{ active: dropdownOpen }"
  >
    <span class="dropdown-value" id="dropdown-value">{{
      currentValue.name
    }}</span>
    <img
      src="data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%2364607D' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"
      class="dropdown-arrow"
    />
  </button>

  <ul
    class="dropdown-list"
    role="listbox"
    aria-expanded="false"
    [ngClass]="{ 'dropdown-open': dropdownOpen }"
  >
    <li
      *ngFor="let option of options"
      [ngClass]="{ selected: currentValue === option }"
      tabindex="0"
      (click)="select(option)"
      role="option"
      [innerHTML]="option.name"
    ></li>
  </ul>
</div>
