<footer>
  <div class="about">
    <div class="company">
      <img src="../../assets/images/rxil-logo.png" alt="rxil logo" />
      <h6>Receivables Exchange of India Limited</h6>
      <p>
        CIN: U67190MH2016PLC273522 701-702, 7th Floor, Lodha Supremus, E Wing,
        I-Think Techno Campus, Kanjurmarg East, Mumbai - 400042
      </p>
      <div class="social-links">
        <a href="/#"
          ><img src="../../assets/images/facebook.svg" alt="facebook"
        /></a>
        <a href="/#"
          ><img src="../../assets/images/twitter.svg" alt="twitter"
        /></a>
        <a href="/#"
          ><img src="../../assets/images/linked-in.svg" alt="linkedin"
        /></a>
      </div>
    </div>

    <div class="link-container">
      <a href="/resources" class="title">Resources</a>
      <a
        *ngFor="let category of resourceCategories"
        [href]="'/resources#' + category.slug"
        >{{ category.name }}</a
      >
    </div>

    <div class="link-container">
      <a href="/quick-links" class="title">Quick Links</a>
      <a href="/who-can-register">Who can register ?</a>
      <a href="/how-to-register">How to register ?</a>
      <a href="/careers">Careers</a>
      <a href="/complaints-grievance">Complaints & Grievance</a>
      <a href="/useful-links">Useful Links</a>
    </div>

    <div class="link-container">
      <a href="/any-questions" class="title">Any Questions</a>
      <a href="/contact-us">Contact Us</a>
      <a href="tel://(022) 6903-3000">(022) 6903-3000</a>
      <a href="mailto://info@rxil.in">info@rxil.in</a>
      <a href="mailto://support@rxil.in">support@rxil.in</a>
    </div>
  </div>

  <hr />
  <div class="copyright-container">
    <p>© RXIL 2022. All rights reserved.</p>
    <div class="links">
      <a href="/disclaimer">Disclaimer</a>
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/sitemap">Sitemap</a>
    </div>
  </div>
</footer>
