<div *ngIf="isLoading; else showNews">Loading...</div>

<ng-template #showNews>
  <div class="post-item">
    <div
      class="featured-media is-video"
      *ngIf="news.featured_video; else showFeaturedMedia"
      (click)="onVideoClicked()"
    >
      <iframe
        [ngClass]="{maximizeVideo}"
        width="100%"
        height="100%"
        [src]="news.featured_video | safe: 'resource'"
      >
      </iframe>
      <img class="play-btn" src="/assets/images/btn-play.svg" alt="play" />
    </div>

    <ng-template #showFeaturedMedia>
      <div
        class="featured-media"
        *ngIf="news.featured_media; else showPlaceholderMedia"
        (click)="onNewsClick()"
      >
        <img [src]="news.featured_media" />
      </div>
    </ng-template>

    <ng-template #showPlaceholderMedia>
      <div class="featured-media" (click)="onNewsClick()">
        <img src="https://via.placeholder.com/410x256" alt="" />
      </div>
    </ng-template>

    <div class="category-chip" [ngClass]="newsCategory.slug">
      <span>{{ newsCategory.name }}</span>
    </div>

    <div class="post-detail-container" (click)="onNewsClick()">
      <h4 class="post-title truncate">{{ news.post_title }}</h4>
      <span class="post-info"
        >{{ news.author_name }} &nbsp; | &nbsp; {{ postDate }}</span
      >
      <p class="post-excerpt truncate" [innerHTML]="news.excerpt"></p>
      <a
        class="post-cta"
        [routerLink]="['/news-events/post', news.ID]"
        [state]="{ post: news }"
        >Read More</a
      >
    </div>

    <div
      class="full-screen-overlay"
      [hidden]="!maximizeVideo"
      (click)="maximizeVideo = false"
    ></div>
  </div>
</ng-template>
