@import "../../styles.scss";

.post-item {
  position: relative;
  max-width: 411px;
  min-height: 432px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .featured-media {
    position: relative;
    height: 256px;
    max-width: 411px;
    cursor: pointer;

    img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
      aspect-ratio: 4/3;
      object-fit: cover;
    }

    iframe {
      border: none;
      border-radius: $borderRadius;
      user-select: none;
      pointer-events: none;
    }

    iframe.maximizeVideo {
      position: fixed;
      max-width: 960px;
      max-height: 540px;
      width: 70%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 20;
      user-select: auto;
      pointer-events: all;
    }

    iframe.maximizeVideo ~ img {
      display: none;
    }

    &.is-video {
      .play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 70px;
        width: 70px;
        user-select: none;
        pointer-events: none;
      }
    }
  }

  .post-detail-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 24px;
    cursor: pointer;
  }

  .post-title {
    font-size: 20px;
    font-weight: 700;
    color: $textColor;
    line-height: 28px;
    --number-of-lines: 2;
  }

  .post-info {
    color: $textColor;
    opacity: 0.6;
    margin-top: 12px;
    font-weight: 700;
    font-size: 14px;
  }

  .post-excerpt {
    font-weight: 300;
    font-size: 14px;
    color: $textColor;
    opacity: 0.87;
    margin-top: 8px;
    --number-of-lines: 2;
  }

  .category-chip {
    --offset: 6px;
    position: absolute;
    top: var(--offset);
    right: var(--offset);
    font-size: 12px;
    padding: 6px 8px;
    border-radius: 5px;
    font-weight: 400;
    background-color: #e4dcca;

    &.events {
      background-color: #c7eafb;
    }
    &.blogs {
      background-color: #fdd1b0;
    }
    &.webinar {
      background-color: #ffffffcc;
    }
    &.video-gallery {
      background-color: #ffffffcc;
    }
  }

  .post-cta {
    font-weight: 700;
    color: $primary;
    font-size: 12px;
    outline: none;
    text-decoration: none;
    margin-top: 12px;
  }

  .full-screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1e2123b2;
    z-index: 10;
  }
}
