@import "../../styles.scss";

nav {
  display: flex;
  justify-content: space-between;
  padding: 16px 72px;
  align-items: center;

  ul {
    list-style: none;
  }

  .nav-links {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .nav-actions {
    display: flex;
    gap: 16px;
  }
}

.nav-button {
  all: unset;
  padding: 12px 32px;
  border: 2px solid #358ccb80;
  border-radius: $borderRadius;
  font-weight: 700;
  color: $primary;
  font-size: 16px;
  cursor: pointer;

  &.primary {
    background-color: $primary;
    color: white;
  }
}
