<li>
  <div
    class="link-name"
    [ngClass]="{ active: showSubLinks }"
    (clickOutside)="showSubLinks = false"
  >
    <a
      (click)="reloadCurrentPage(navData.slug, navData)"
      [ngClass]="{ current: isActive }"
    >
      {{ navData.name }}
    </a>
    <img
      (click)="showSubLinks = !showSubLinks"
      *ngIf="navData.sub_links.length > 0"
      src="/assets/images/nav-link-dropdown.svg"
      alt=""
    />
  </div>

  <ul
    class="sub-links"
    [ngClass]="{ show: showSubLinks }"
    *ngIf="navData.sub_links.length > 0"
  >
    <li *ngFor="let subLink of navData.sub_links">
      <a
        (click)="reloadCurrentPage(navData.slug + '/#' + subLink.slug, navData)"
      >
        {{ subLink.name }}
      </a>
    </li>
  </ul>
</li>
