/* You can add global styles to this file, and also import other style files */
$primary: #358ccb;
$textColor: #1d2130;
$secondaryTextColor: #64607d;
$textColorMuted: #767883;
$black: #1e2123;
$borderColor: #cfd1d5;
$borderRadius: 10px;
$primaryFont: "Merriweather Sans", sans-serif;

:root {
  font-family: $primaryFont;
}

*,
*::after,
*::before {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #fafbff;
}

.truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--number-of-lines);
  overflow: hidden;
}

.debug-lines {
  outline: 2px solid red;
  outline-offset: 2px;
}

main {
  min-height: 100vh;
}

// h4 {
//   font-size: 20px;
//   font-weight: 700;
//   color: $primary;
// }
// h2 {
//   font-size: 32px;
//   font-weight: 800;
//   line-height: 48px;
// }

// .home-about-rxil {
//   display: flex;
//   gap: 102px;
//   justify-content: center;
//   padding-inline: 72px;
//   margin-top: 72px;

//   h4 {
//     margin-top: 16px;
//   }

//   h2 {
//     margin-top: 8px;
//   }

//   p {
//     margin-top: 18px;
//     font-size: 18px;
//     font-weight: 300;
//     color: $secondaryTextColor;
//   }

//   .cta {
//     margin-top: 13px;
//     color: $primary;
//     font-weight: 700;
//     font-size: 16px;
//   }
// }

// .home-about-treds {
//   @extend .home-about-rxil;
//   margin-top: 104px;
//   gap: 95px;

//   h4 {
//     margin-top: 30px;
//   }
//   p {
//     margin-top: 24px;
//   }
//   p + p {
//     margin-top: 0;
//   }
// }
