@import "../../styles.scss";

.news-container {
  padding-inline: 72px;
}

.filter-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.post-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 400px);
  gap: 32px;
  row-gap: 64px;
  margin-top: 48px;
}

.news-category-selector {
  display: flex;
  flex: 1;
  gap: 8px;
  margin-block: 1em;
}

.news-category {
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 16px 24px;
  cursor: pointer;
  font-size: 16px;
  background-color: #f0f1f5;
  font-size: 1rem;

  &.selected {
    background-color: $primary;
    font-weight: 700;
    color: white;
  }
}

.year-filter {
  display: flex;
  gap: 32px;
  align-items: center;

  p {
    color: #1e2123;
    font-size: 16px;
    min-width: fit-content;
  }
}
