@import "../../styles.scss";

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 72px;
}

.post-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 411px);
  gap: 32px;
  margin-inline: auto;
  justify-content: center;
  align-items: stretch;
  row-gap: 64px;
  margin-top: 48px;
}

.news-category-selector {
  display: flex;
  gap: 24px;
  margin: 1em;
}

.news-category {
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);

  border: none;
  outline: none;
  border-radius: 10px;
  padding: 16px 24px;
  cursor: pointer;
  font-size: 16px;
  background-color: #f0f1f5;
  font-size: 1rem;

  &.selected {
    background-color: $primary;
    font-weight: 700;
    color: white;
  }
}

.year-filter {
  display: flex;
  gap: 32px;

  p {
    color: #1e2123;
    font-size: 16px;
    min-width: fit-content;
  }
}
